<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="order_861385.dao.LogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="order_861385.entity.Log">
        <id column="id" property="id" />
        <result column="u_id" property="uId" />
        <result column="c_id" property="cId" />
        <result column="u_name" property="uName" />
        <result column="c_name" property="cName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, u_id, c_id, u_name, c_name
    </sql>

</mapper>
